<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" context="width = device-width, initial-scale = 1.0">

    <!--Calling in socket.io which is open source javascript library (https://socket.io/)-->
    <script src="/socket.io/socket.io.js"></script>

    <!--Room id is unique randomly generated for every meeting room-->
    <script>
        const ROOM_ID = "<%= roomId %>";
    </script>

    <title>Collab with team</title>

    <!--Importing peerjs which is open source wrapper for webrtc (peerjs library: https://peerjs.com/)-->
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/1.3.2/peerjs.min.js.map"></script> -->

    <!--Linking the stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="style1.css">

</head>

<body>
    <!--Hiding the invite popup-->
    <div class="overlay" onclick="hideInvitePopup()"></div>

    <!--Showing the invite popup-->
    <div class="invitePop" id="invitePop">
        <span>Send the below link to invite others: </span>
        <br>
        <!--The value field will be populated by the url of the meeting-->
        <input type="text" value="..." id="roomLink" readonly />
        <button onclick="copyToClipboard()">Copy</button>
    </div>

    <div class="main">
        <div class="main_left">
            <!-- Video dimensions -->
            <div class="main_videos">
                <!--Main video grid to display all users-->
                <div id="video-grid">
                </div>
            </div>

            <!--Control buttons: Mute, Pause video, Chat, Invite-->
            <div class="main_controls">
                <div class="main_controls_block">

                    <!--Mute/ Unmute button-->
                    <div class="main_controls_button" id="muteButton" onclick="muteUnmute()">
                        <i class="fa fa-microphone" aria-hidden="true"></i>
                        <span>Mute</span>
                    </div>

                    <!--Play/ Pause video button-->
                    <div class="main_controls_button" id="playPauseVideo" onclick="playStop()">
                        <i class="fa fa-video-camera" aria-hidden="true"></i>
                        <span>Video</span>
                    </div>

                </div>

                <div class="main_controls_block">

                    <!--Share screen icon button-->
                    <div class="main_controls_button" onclick="screenShare()">
                        <i class="fa fa-share-square-o" aria-hidden="true"></i>
                        <span>Present Screen</span>
                    </div>

                    <!--Whiteboard link (external site) button-->
                    <div class="main_controls_button" id="whiteboard" onclick="whiteboard()">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <span>Whiteboard</span>
                    </div>

                    <!--Record the meeting-->
                    <div class="main_controls_button" id="recording_button">
                        <i class="fa fa-dot-circle-o" id="icon_for_record" style='font-size:24px'></i>
                        <span id="record">Start Recording</span>
                    </div>

                </div>

                <div class="main_controls_block">

                    <!--Raise hand icon button-->
                    <div onclick="raisedHand()" class="main_controls_button raisedHand">
                        <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
                        <span>Raise Hand</span>
                    </div>

                    <!--Invite popup icon button-->
                    <div class="main_controls_button" onclick="showInvitePopup()">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <span>Invite others</span>
                    </div>

                </div>

                <div class="main_controls_block">

                    <!--Leave meeting button-->
                    <div onclick="disconnectNow()" class="main_controls_button main_leave" style=" color: Tomato;">
                        <span style="color: red;">Leave Meeting</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="main_right">
            <!-- Chat box dimensions -->
            <div class="main_header">
                <!--Heading of chatbox-->
                <h4><span class="live"></span>CHAT BOX</h4>
            </div>

            <!--Main body of chat box where all messages are displayed-->
            <div class="main_chat_window" id="main_chat_window">
                <ul class="messages" id="all_messages"></ul>
            </div>

            <!--Creating a placeholder where one can type the message to be sent-->
            <div class="main_message_container">
                <input type="text" id="chat_message" placeholder="Type here..." />
                <button class="sendMsg" id="sendMsg">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>"
                </button>
            </div>
        </div>
    </div>

    <!--Importing script.js from public directory-->
    <script src="script.js"></script>
</body>

</html>