.main {
    height: 100vh;
    display: flex;
}

#video-grid {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
}

video {
    display: block;
    flex: 1;
    object-fit: cover;
    border: 1px solid white;
    background-color: #D2D2D2;
    max-width: 600px;
    max-height: 400px;
    margin: 0.5%;
}

.main_left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.main_right {
    flex: 0.2;
    flex-direction: column;
    background-color: #242324;
    border-left: 1px solid #3d3d42;
}

.main_videos {
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.main_right {
    background-color: #242324;
    border-left: 1px solid #3D3D42;
}

.main_controls {
    background-color: #1C1E20;
    color: #D2D2D2;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.main_controls_block {
    display: flex;
}

.main_controls_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.main_controls_button:hover {
    background-color: #343434;
    border-radius: 5px;
}

.main_controls_button i {
    font-size: 24px;
}

.main_right {
    display: flex;
    flex-direction: column;
}

.main_header {
    padding-top: 5px;
    color: #F5F5F5;
    text-align: center;
}

.main_chat_window {
    flex-grow: 1;
    overflow-y: auto;
}

.messages {
    list-style: none;
    padding-left: 0;
}

.main_message_container {
    padding: 22px 12px;
    display: flex;
}

.main_message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
}

.leave_meeting {
    color: #EB534B;
}

.unmute, .stop {
    color: #CC3B33;
}

.invitePop {
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 1px;
    z-index: 9;
    background-color: #FFFFF0;
    padding: 15px;
    border-radius: 7px;
    font-size: medium;
    font-family: fangsong;
    display: none;
}

.singlemessage {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid azure;
    /* background: navajowhite; */
    /* background: azure; */
    background: rgb(240, 255, 255);
    background: linear-gradient(90deg, rgba(240, 255, 255, 1) 0%, rgba(240, 255, 255, 1) 24%, rgba(178, 234, 246, 1) 100%);
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 70px;
    margin-left: 20px;
    padding: 3px;
    border-radius: 5px;
}

.mymessage {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid navajowhite;
    /* background: navajowhite; */
    /* background: azure; */
    background: rgb(255, 192, 100);
    background: linear-gradient(90deg, rgba(255, 192, 100, 1) 0%, rgba(255, 222, 173, 1) 52%, rgba(255, 241, 221, 1) 100%);
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: 70px;
    padding: 3px;
    border-radius: 5px;
}

.hand {
    margin: 15px;
    text-align: center;
    color: white;
    font-size: large;
}

span#symbolhand {
    font-size: xx-large;
}